<h1>Admin &raquo; Dashboard</h1>
<div class= "alert alert-info">
<h3>Product Count : <%= @product_count%><h3>
<h3>Category Count : <%= @category_count%><h3>
</div>
<br>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>
